@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
	outline: none;
	box-sizing: border-box;
}

html {
	background-color: #bdd4e7;
	/* background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%); */
}

body {
	display: grid !important;
	flex-direction: column;
	grid-template-rows: 4em auto 4em;
	margin: 0%;
	padding: 0%;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;

	display: flex;
	flex-direction: column;
}

nav {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 5px #00a05d;
}
	nav h1 {
		font-family: 'Reggae One', cursive;
	}

main {
	padding: 2%;
	height: 100%;
}


/* Search bar */

#search {
	color: darkslategray;
	border-radius: 0 7px 7px 0;
	border: solid 2px #a5a5a5;
	border-left: none;
}

.search-widget {
	display: flex;
	flex-direction: row;
	height: 2em;
	font-size: inherit;
}
	.search-widget i {
		font-size: inherit;
		text-align: center;
		border: solid 2px #a5a5a5;
		border-right: solid 2px #8b8b8b;
		border-radius: 7px 0 0 7px;
		padding-top: 1%;
		width: 2em;
		height: 1.5em;
		line-height: 1.5em;
		background-color: #e2e2e2;
		color: #794141;
		height: 100%;
	}


/* Reddit posts */

#reddit-container {
	max-width: 100%;
}

#reddit {
	display: flex;
	flex-direction: column;
	gap: 1%;
	overflow: scroll;
	overflow-x: hidden;
	max-height: 100%;
	border-radius: 7px;
	padding: 1.25rem;
	color: white;
}

.reddit-post {
	color: inherit;
	position: relative;
	font-family: Newsreader, serif;
	background-color: rgb(216, 78, 78);
	border: none;
	border-radius: 7px;
	transition: .35s;
	text-align: left;
	max-width: 100%;
	padding: .25em 4.5em .25em 2.4em;
}
	.reddit-post:hover {
		background-color: #f11541;
		cursor: pointer;
	}
	.reddit-post::before {
		content: "";
		display: inline-block;
		background-image: url(https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Reddit_glyph_svg-512.png);
		background-size: 2em;
		height: 2em;
		width: 2em;
		position: absolute;
		top: 50%;
		left: .5%;
		transform: translate(0%, -50%);
	}

.post-title {
	color: inherit;
	background-color: rgba(0, 0, 0, 0.11);
	width: fit-content;
	border-radius: 7px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding: 1%;
	text-overflow: ellipsis;
}

.post-author {
	color: rgba(255, 255, 255, 0.6);
	font-size: .75em;
	max-width: 5em;
	overflow: hidden;
	margin-left: 1.2%;
}

.post-score {
	color: inherit;
	background-color: #eeae0d;
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translate(0, -50%);
}


/* Footer */
.contributors {
	font-family: 'Reggae One', cursive;
	color: honeydew;
	background-color: #794141;
	padding: .5%;
	margin: .5%;
	justify-self: center;
	border-radius: 10px;
}
